@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Handlee&display=swap');
*{
    font-family: Handlee;
}
.carousel-item{
    height: 100vh;
    object-fit: cover;
}
.navbar-brand{
    font-family: Handlee;
    font-size: 2vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}
.nav-item{
    font-size: 1vw;
    margin-left: 5vw;
    font-family: Calligraffitti;


}
#section-1{
    background-image: url(../Images/Flower_Image_1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}


#section-2{
    background-color: #9C9286;
}


#section-3{
    background-color: #DA54A9;
}


#section-4{
    padding-top: 25vh;
    background-color: #9C9286;
}
.heading-main{
    font-family: Handlee;
    font-size: 20vh;
    color: #7B293F;
    padding-top: 50vh;
}

.sub-heading-main{
    font-family: Calligraffitti;
    font-size: 10vh;
    color: black;
}
.section{
    height: 100vh;
}